@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
/*Main*/
body {
    width: 100%;
    margin: none;
    background-image: url('background.jpg');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

button {
    width: 15vw;
    height: 5%;
    background-color: #2faae7;
    border-radius: 0.3em;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: 'Noto Sans', sans-serif;
}

button:hover {
    background-color: #1a7eb1;
    cursor: pointer;
}

button:active {
    background-color: #0c6794;
    font-size: 1.01vw;
}

.loadout {
    min-width: 84.285vh;
    min-height: 90%;
    position: relative;
}
.loadout-image {
    position: absolute;
    width: 100%;
}
.weaponImg {
    position: absolute;
    left: 56%;
    width: 40%;
    height: auto;
}
#Weapon1 {
    top: 8.5%;
}
#Weapon2 {
    top: 25.25%;
}

.gearImg {
    position: absolute;
    top: 45.75%;
    width: 13%;
}
#backpack {
    left: 53.5%;
}
#shield {
    left: 68.75%;
}
#helmet {
    left: 84.25%;
}

.items {
    position: absolute;
    width: 45%;
    height: 71%;
    left: 2.5%;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.Item {
    position: relative;
    width: 29%;
    padding: 2%;
    padding-top: 3%;
}

.itemImg {
    width: 100%;
}

.itemNumber {
    position: absolute;
    bottom: 5%;
    right: 10%;
    text-align: right;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 1.5vh;
}

/* CSS reset*/
/*prettier-ignore*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
